  body {
    background:white;
    margin:0;
    font-family:sans-serif;
  }

  .header {
    background:#208AAE;
    box-sizing: border-box;
    width:100%;
    display:flex;
    cursor:default;
    user-select:none;
  }

  #dropdown, #menu_dropdown {
    list-style:none;
    margin:0;
    padding:0;
  }

  #menubar {
    height:30px;
    cursor:pointer;
    user-select:none;
  }

  #menu_dropdown li {
    display: flex;
    align-items: center;
    border: 2px solid grey;
    border-radius: 2px;
    width: 250px;
    margin: 10px;
    font-size: 16px;
    padding:4px 10px;
    color: #000000;
    box-sizing: border-box;
  }

  #menu_dropdown li:hover {
    transform: scale(0.98);
    cursor:pointer;
    user-select:none;
  }

  #menu_dropdown img{
    margin-right:6px;
    margin-bottom:2px;
    width:20px;
    height:20px;
  }

  #Inner_Dropdown {
    position:absolute;
    display:flex;
    background:white;
    border-radius:8px;
    width:20%;
    border:2px solid #E5E7EB;
    box-shadow:2px 2px 5px rgba(0,0,0,0.08);
    z-index:10px;
    box-sizing:border-box;
  }

  #Home{
    display:flex;
    color:white;
    font-size:30px;
    padding-left:30px;
    margin:0;
    padding-top:15px;
  }

  .bris {
    text-align:center;
    font-size:40px;
    padding-top:2%;
    margin-bottom:0;
    cursor:default;
    user-select:none;
  }

  .manage_residents {
    text-align:center;
    color:#4B5563;
    margin-top:1%;
    cursor:default;
    user-select:none;
  }

  #records {
    display:flex;
    align-items: center;
    justify-content:center;
    gap:90px;
    padding-top:30px;
    padding-bottom:50px;
  }

  #records:hover {
  padding:top: 50px;
  }


  #records1 {
    display:flex;
    justify-content:center;
    gap:6.5%;
    margin-bottom:10%;
  }

  .box {
    display:flex;
    align-items:center;
    justify-content:flex-start;
    gap:10%;
    text-decoration:none;
    background:#F9FAFB;
    border:1px solid #E5E7EB;
    border-radius:10px;
    width:350px;
    height:180px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
    transition: 0.3s;
  }

  #res1, #res2, #res3, #res4, #res5{
    display:flex;
    flex-direction:column;
    justify-content:center;
    text-align:center;
  }





#currentResidents {
  margin:0;
  position: relative;
}

#sitioList {
  grid-template: 1fr 2fr;
  margin:0;
  position: absolute;
  top: 100%;
  left:0;
  width: 100%;
  box-sizing: border-box;
  background:white; 
  padding:0; 
  grid-template-columns: 1fr 2fr;
  border-radius: 0 0 10px 10px;
  border: 1px solid #E5E7EB;
  border-top: none;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
  max-height: 0;
  overflow: hidden;
  transition:
      max-height 0.45s cubic-bezier(0.22, 1, 0.36, 1),
      padding 0.3s ease;
  color:black;
}

#currentResidents:hover #sitioList {
  max-height: 200px;
  padding: 2px;
}

#currentResidents:hover {
  border-bottom-left-radius:0;
  border-bottom-right-radius:0;

}


#sitioList p{
  display:flex;
  justify-content:center;
  font-size:17px;
}

#sitioList span {
  font-weight:bold;
}

#sitioList ul {
  margin:0;
  padding:0;
  overflow: hidden;

}

#sitioList li {
  display:grid;
  grid-template-columns: 96px 1fr; 
  list-style:none;
  padding:9px;
  padding-left:2%;
  white-space: nowrap;
  font-size:16.5px;
  border-bottom: 1px solid #E5E7EB;
  
}

#sitioList li:last-child {
  border-bottom: none;
  padding-bottom:13px;
}






  .currentResidents {
    bottom:1px;
    color: black;
    width: auto;
    height: 35px;
    display: flex;
    align-items: center;
    border-radius:8px;
    opacity:1;
    transition: opacity 0.3s ease;
  }
.currentResidents img {
  transform:translateX(-13px);
}

#residentsRecords {
   font-family:sans-serif;
   font-weight:bold;
}

  #currentResidents:hover > .currentResidents{
    opacity:1;
  }

















  #residentsBlotterRecords {
    position:relative;
  }

  .residentsBlotterRecords {
    position: absolute;
    top: 4px;
    color: black;
    width: auto;
    height: 35px;
    display: flex;
    align-items: center;
    border-radius:8px;
    opacity:0;
    transition: opacity 0.3s ease;
  }

.residentsBlotterRecords img {
  transform:translateX(-13px);
}

#blotterRecords {
 transform:translateX(-29.5px);
  font-family:sans-serif;
  font-weight:bold;

}

  #residentsBlotterRecords:hover > .residentsBlotterRecords{
    opacity:1;
  }

  #icon1, #icon2, #icon3, #icon4, #icon5 {
    background:#DBEAFE;
    border-radius:50px;
    margin-left:40px;

    z-index:19px;
  }

  .box img {
    display:flex;
    align-items:center;
    justify-content: center;
    padding:20px;
    max-width:33px;
    max-height:33px;
    z-index:9px;
  }

  .icon img {
    width: 40px;
    height: 40px;
    object-fit: contain;
  }

  .confirm {
  display: none;
  position: fixed;
  inset: 0;
  background-color: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
  z-index: 100;
  }

  .confirmation{
  background: white;
  padding: 50px 50px;
  border-radius: 40px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  }

  .buttons{
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  }

  button{
  padding: 20px 35px;
  border: none;
  border-radius:60px;
  cursor: pointer;
  }

  #logout{
  background-color: #208AAE;
  color: white;
  }

  #cancel{
  background-color: #208AAE;
  color: white;
  }

  #logout:hover{
    background-color: #DC143C;

  }

  #cancel:hover{
    background-color: Gray;
  }

  #Footer {
  height: 31px;
  width: 100%;
  background: #4B5563;
  }

.box:hover {
    transform: scale(1.08);
  }

#credits{
display: flex;
justify-content: center;
align-items:center;
color: white;
padding-top: 8px;

}

#credits h5{
outline: 2px dashed black;
}
