body {
  margin:0;
  padding:0;
  cursor:default;
  user-select:none;
  background:#F9FAFB;
  font-family:sans-serif;
}

#header {
  gap:65.5%;
  width:100%;
  height:66px;
  display:flex;
  padding:.1px;
  background:#208AAE;
  box-sizing:border-box;
}

#header .residentp {
  margin:0;
  padding-top:1.5%;
  padding-bottom:%;
  color:#FFFFFF;
  margin-left:2%;
  font-size:27px;
}

#header .back {
  font-size:22px;
  color:white;

  margin-top:22px;
  margin-left: 58px;
}
#header .back:hover{
cursor: pointer;
}

#searchbox {
  display:flex;
  justify-content:center;
  margin-top:3%;
  margin-left:7%;
  margin-right:7%;
  padding:15px;
  border:1px solid #D1D5DB;
  box-shadow:0 0 5px rgba(0, 0, 0, 0.2);
  border-radius:9px;
}

.search {
  width:98%;
  height:38px;
  font-size:15px;
  border:1px solid #D1D5DB;
  box-shadow:0 0 4px rgba(0, 0, 0, 0.3);
  border-radius:4px;
}

.serbot {
  background:#0D2149;
  margin-left:10px;
  height:41px;
  width:45px;
  border-radius:6px;
}

.serbot img {
  filter: invert(1);
}

.namelist {
  display:flex;
  list-style:none;

}
