body {
  margin: 0;
  padding: 0;
  cursor:default;
  user-select:none;
  background:#F9FAFB;
  font-family:sans-serif;
  overflow-x: hidden;
}
#header {
  gap:65.5%;
  width:100%;
  height:66px;
  display:flex;
  padding:.1px;
  background:#208AAE;
  box-sizing:border-box;
  align-items:center;
}

#header .residentp {
  margin:0;
  padding-top:1%;
  padding-bottom:1%;
  color:#FFFFFF;
  margin-left:2%;
  font-size:27px;
}

#header p {
  justify-content:space-around;
}

#header .back{
  font-size:22px;
  color:white;
  margin-top:22px;
  margin-left: 58px;
  cursor: pointer;
}

.profile-upload {
  display: flex;
  align-items: flex-end;
  gap: 20px;
  margin-top: 20px;
}

.profile-picture {
  width: 100px;
  height: 100px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.file-input {
  display: none;
  margin-top: 10px;
}

.file-label {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.form-row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  flex: 1;
}



label {
  margin-bottom: 6px;
  font-size: 14px;
  color: #333;
}

input[type="text"], input[type="number"], input[type="date"], input[type="tel"], input[type="email"], select {
      padding: 10px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 8px;
      outline: none;
}

input[type="text"]:focus, input[type="number"]:focus, input[type="date"]:focus, input[type="tel"]:focus, input[type="email"]:focus, select:focus {
      border-color: #999;
}

form {
  margin: 0 10% 0 10%;
}

#select_educationalattainment {
  width: 288px;
}

#select_condition{
  width:125px;
  margin-right:1000px;
}

#select_bloodtype {
  width: 90px;
}

.checkbox-group label {
  display: flex;
  align-items: center;
  gap: 6px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 70px;
  margin-top: 40px;
  margin-right: 10%;
  margin-bottom: 40px;
}

.cancel {
  background-color: white;
  color: black;
  border: 1px solid #ccc;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.save {
  background-color: #0c1e4a;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.profile-picture {
  width: 150px;
  height: 150px;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #f8f8f8;
}
#Footer {
height: 31px;
width: 100%;
background: #4B5563
}